<div class="big-card-container">
    <div class="big-card-picture">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFUuOtK7W_UNjvXDx3Z9tCD14xTfWPFs3Wbw&s" alt=""
            srcset="">
    </div>
    <div class="big-card-title">
        <h1><a href="#"> Saiu a nova versão do angular</a></h1>
    </div>
    <div class="big-card-description">
        <a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus molestie tristique lacinia. Donec
                aliquam
                nibh nibh, at scelerisque dui accumsan vel. Vestibulum viverra eleifend ipsum rutrum venenatis. Cras
                ipsum
                nisl, eleifend tincidunt nibh in, cursus euismod magna.</p>
        </a>
    </div>
</div>